@charset "UTF-8";

body{
    background-color: #162C40;
}

main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    
    max-width: 400px;
    min-width: 375px;
    max-height: 550;
    min-height: 665px;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #012E57;

    padding: 30px;
    border-radius: 15px;
    
}



#img_principal{
    display: flex;

    width: 400px;
    margin: auto;

    border-radius: 20px;
}

h1{ 
    color: #F8FFFF;
}

h1:hover{
    color: aqua;
}

p{
    color: #7E95B4 ;
    font-size: 18pt;
}

.icons{
    display: inline-flex;
}

.icon1 {
    color:aqua ;
    margin-right: 60px;
}

.icon2{
    margin-left: 90px;
}

.about{
    display: inline-flex;
    width: 400px;
    
    border-top: solid #606e80 0.1px;
}

.about > p > a{
    text-decoration: none;
    font-weight: 100;

    color: white;   
}

.about > p > a:hover{
    color: aqua;
}

.litle_img{
    max-width: 50px;
    padding: 10px;
}

